body, body > table, body > table > tbody, body > table > tbody > tr, body > table > tbody > tr > td {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    height: 100%;
    font-family: "Trebuchet MS", Garuda, Verdana, "Arial Rounded MT Bold", Calibri, Cambria, Arial, sans-serif;
    text-shadow: rgba(255, 255, 255, 0.597656) 0px 1px 0px;

    background-color: #52e469;
    background-image: url(images/bg.png);
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(115,255,137)), to(rgb(82,228,105)));
    background-image: -webkit-linear-gradient(top, rgb(115,255,137), rgb(82,228,105));
    background-image: -moz-linear-gradient(top, rgb(115,255,137), rgb(82,228,105));
    background-image: -o-linear-gradient(top, rgb(115,255,137), rgb(82,228,105));
    background-image: -ms-linear-gradient(top, rgb(115,255,137), rgb(82,228,105));
}

p, ul, li, article {
    text-align: left;
}

article h2 {
    margin-bottom: 0;
}

p.timestamp {
    font-style: italic;
    font-size: 11pt;
    text-align: center;
}

article p.timestamp {
    margin: 10px;
    text-align: left;
}

div.postbody {
    margin-left: 10px;
}

a, a:visited {
    /* text-decoration: inherit; */
    color: inherit;
}

a:hover {
    /* text-decoration: underline; */
    text-shadow: 0 0 1px white, 0 1px 0 rgba(255, 255, 255, 0.596);
}

/*
a.revealed {
    text-decoration: underline;
}

a.revealed:hover {
    text-decoration: none;
}
*/

a:focus {
    /* http://voracity.org/Workarounds/LinkFocus */
    -moz-outline: none;
    outline: none;
}

img {
    border-style: none;
}

abbr {
    border-bottom: 1px dotted #FFFFFF;
}

ul {
    list-style-type: none;
    padding-left: 35px;
}

ul li {
    text-indent: -1em;
}

ul li:before {
    font-size: 15pt;
    content: "\00BB \0020";
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

h1 {
    border-bottom: 1px solid #EEE;
    margin-bottom: 30px;
}

span.postdate {
    font-style: italic;
    white-space: nowrap;
}

div.topnav {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 12pt;
    font-weight: bold;
    margin: 13px 0;
}

div.topleftnav {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 12pt;
    font-weight: bold;
    margin: 13px 0;
}

div.topnav a, div.topleftnav a {
    text-decoration: none;
}

#bigtable {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

div#content {
    position: relative;
    width: 760px;
    margin: 10px auto;
    padding: 30px 50px 50px 50px;
    border: 2px solid white;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    box-shadow: 5px 5px 5px rgb(108,114,190);
    -webkit-box-shadow: 5px 5px 5px rgb(108,114,190);
    -moz-box-shadow: 5px 5px 5px rgb(108,114,190);

    background-color: #4fbbbf;
    background-image: url(images/fg.png);
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(108,114,230)), to(rgb(79,187,191)));
    background-image: -webkit-linear-gradient(top, rgb(108,114,230), rgb(79,187,191));
    background-image: -moz-linear-gradient(top, rgb(108,114,230), rgb(79,187,191));
    background-image: -o-linear-gradient(top, rgb(108,114,230), rgb(79,187,191));
    background-image: -ms-linear-gradient(top, rgb(108,114,230), rgb(79,187,191));
}

div#content.longpage {
    margin: 0 auto;
    width: auto;
    min-width: 700px;
    max-width: 1000px;
    min-height: 100%;
    background-size: auto 115px;
}

div#content.notable {
    margin: 20px auto;
    background-size: auto;
    padding: 10px 10px 5px 10px;
    text-shadow: rgba(120, 120, 130, 0.7) 0px 1px 1px;
    color: #FFFFFF;
}

div#content.notable h1, div#content.notable h2 {
    text-shadow: 0pt 1pt 0pt #374683;
}

div#content.notable a:hover {
    /* TODO: This should be prettier */
    text-shadow: 0 0 1px white, rgba(120, 120, 130, 0.7) 0px 1px 1px;
}

div#bodyContent {
    margin: 10px 20px;
}

footer {
    display: block;
    margin: 12px 0;
    text-align: center;
    font-size: 9pt;
}

div.sidebar {
    float: right;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    max-width: 27%;
}

div.bottombar {
    margin-right: 28%;
    text-align: left;
    padding-top: 10px;
}

div.button {
    color: black;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    background-color: rgb(82,228,105);
    background-image: url(images/header.png);
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(115,255,137)), to(rgb(82,228,105)));
    background-image: -webkit-linear-gradient(top, rgb(115,255,137), rgb(82,228,105));
    background-image: -moz-linear-gradient(top, rgb(115,255,137), rgb(82,228,105));
    background-image: -o-linear-gradient(top, rgb(115,255,137), rgb(82,228,105));
    background-image: -ms-linear-gradient(top, rgb(115,255,137), rgb(82,228,105));
}

div.button:hover {
    box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    -moz-box-shadow: 5px 5px 5px #ccc;
    margin-left: -4px;
    margin-top: -4px;
}



/* For firstrun and releasenotes on MP4 Downloader */
    header * {
        margin: 0;
        padding: 0;
        border-spacing: 0;
    }

    header, h3.errorbox {
        padding: 10px 2px;
        border: 1px solid white;
        background-color: #52e469;
        background-image: url(images/header.png);
        background-repeat: repeat-x;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(115,255,137)), to(rgb(82,228,105)));
        background-image: -moz-linear-gradient(100% 100% 90deg, rgb(82,228,105), rgb(115,255,137));
        -webkit-border-radius: 9px 9px;
        -moz-border-radius: 9px 9px;
        border-radius: 9px 9px;
    }

    h3.errorbox {
        text-shadow: 0px 1px 0px #e5e5ee;
        color: red;
        padding: 10px;
    }

    header {
        display: block;
        text-align: center;
        padding-top: 10px;
        width: 60%;
        margin: 5px auto;
    }

    header table {
        width: 100%;
    }

    header td {
        text-align: center;
    }

    header td a, header td a:visited, header td a:hover, header td a:active {
        font-size: 12pt;
        font-weight: bold;
        text-shadow: 0px 1px 0px #e5e5ee;
        color: #455FF5;
        text-align: center;
    }

    .moreinfoBody {
        background-color: #73ff89;
        border: 2px solid #52e469;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        font-size: 0.92em;
        padding: 4px;
        text-indent: 0;
    }

    .moreinfoBodyDark {
        background-color: #52e469;
        border: 2px solid #73ff89;
    }
