body.summer {
    background-color: rgb(121,180,126);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg=='), linear-gradient(rgb(207,237,206), rgb(151,216,150), rgb(121, 180, 126));
}

body.summer header {
    background-color: rgb(84,126,88);
    background-image: linear-gradient(rgba(207,237,206, 0.1) 50%, rgba(84,126,88, 0.7) 70%), url("/images/summer.jpg");
    background-size: cover;
}
