    background-color: #4FBBBF;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6C72E6), to(#4FBBBF));
    background-image: -webkit-linear-gradient(top, #6C72E6, #4FBBBF);
    background-image: -moz-linear-gradient(top, #6C72E6, #4FBBBF);
    background-image: -o-linear-gradient(top, #6C72E6, #4FBBBF);
    background-image: -ms-linear-gradient(top, #6C72E6, #4FBBBF);
    background-image: linear-gradient(to bottom, #6C72E6, #4FBBBF);