    background-color: #6C72E6;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4FBBBF), to(#6C72E6));
    background-image: -webkit-linear-gradient(top, #4FBBBF, #6C72E6);
    background-image: -moz-linear-gradient(top, #4FBBBF, #6C72E6);
    background-image: -o-linear-gradient(top, #4FBBBF, #6C72E6);
    background-image: -ms-linear-gradient(top, #4FBBBF, #6C72E6);