    background-color: #52E469;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#73FF89), to(#52E469));
    background-image: -webkit-linear-gradient(top, #73FF89, #52E469);
    background-image: -moz-linear-gradient(top, #73FF89, #52E469);
    background-image: -o-linear-gradient(top, #73FF89, #52E469);
    background-image: -ms-linear-gradient(top, #73FF89, #52E469);