<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title | escape }}</title>{% if page.atomfeed %}
    <link rel="alternate" type="application/atom+xml" title="Ramblings by Jake &raquo; Feed" href="/blog/atom.xml">{% endif %}
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="screen,tv,projection" href="/style.css">
</head>

<body>
    <table id="bigtable" style="border: none;">
        <tbody><tr><td style="text-align: center; vertical-align: {% if page.longpage %}top{% else %}middle{% endif %};{% if page.longpage %} padding: 50px;{% endif %}">
        <div id="content"{% if page.longpage %} class="longpage"{% endif %}>{% if page.homebtn %}
            <div class="topleftnav"><a href="/">Home</a></div>{% endif %}

{{ content }}
        </div>
        <!--[if IE]>
        <footer><a href="http://www.mozilla.com/firefox/features/">A Better Browser</a></footer>
        <![endif]-->
        <div><br><br></div>
    </td></tr></tbody>
    </table>
</body>
</html>
