---
layout: "front"
homebtn: 1
atomfeed: 1
---
        <h1><a href="/blog/">Blog: Ramblings by Jake</a></h1>
        <!--
        <nav>
            <ul>
                <li><a href="/blog/atom.xml">RSS</a></li>
                <li><a href="">Archive</a></li>
            </ul>
        </nav>
        -->

        <aside>
            <h3>Recent Posts</h3>
            <ul>{% for post in site.posts limit:4 %}
                <li><a href="{{ post.url }}">{{ post.title | escape }}</a> <small>({{ post.date | date: '%m/%d/%Y' }})</small></li>{% endfor %}
            </ul>
        </aside>{% unless page.noextra %}

        <h2>{{ page.title | escape }}</h2>
        <p class="timestamp">Posted on {{ page.date | date: '%m/%d/%Y' }}</p>
        <article>{% endunless %}

{{ content }}
{% unless page.noextra %}
        </article>
        <div class="bottombar" style="clear: both;">{% if page.previous.url %}
            <span>«&nbsp;<a href="{{ page.previous.url | escape }}" title="{{ page.previous.title | escape }}">{{ page.previous.title | truncatewords: 15 | escape }}</a></span>{% endif %}{% if page.next.url %}
            <span style="float: right;"><a href="{{ page.next.url | escape }}" title="{{ page.next.title | escape }}">{{ page.next.title | truncatewords: 15 | escape }}</a>&nbsp;»</span>{% endif %}
        </div>{% endunless %}
