---
layout: "front"
longpage: 1
---
<h2 class="topleftnav"><a href="/">Home</a></h2>
<h1>Blog</h1>
<!-- <h2 class="topnav"><a href="">RSS</a>&nbsp;&middot;&nbsp;<a href="">Archive</a></h2> -->
<div style="float: right; border-left: 1px solid white;">
    <h3>Recent Posts</h3>
    <ul>{% for post in site.posts limit:4 %}
        <li><a href="{{ post.url }}">{{ post.title | escape }}</a> ({{ post.date | date: '%m/%d/%Y' }})</li>{% endfor %}
    </ul>
</div>
<h2>{{ page.title | escape }}</h2>
{{ content }}
<div style="clear: both;">
{% if page.previous.url %}«&nbsp;<a href="{{ page.previous.url | escape }}" title="{{ page.previous.title | escape }}">{{ page.previous.title | truncatewords: 15 | escape }}</a>{% endif %}
{% if page.next.url %}<a style="float: right;" href="{{ page.next.url | escape }}" title="{{ page.next.title | escape }}">{{ page.next.title | truncatewords: 15 | escape }}</a>&nbsp;»{% endif %}
</div>
